openapi: 3.0.1
info:
  title: Coinbase Advanced API plugin
  description: Allows usage of Coinbase API
  version: 0.0.1
servers:
  - url: https://api.coinbase.com
paths:
  /api/v3/brokerage/accounts:
    get:
      operationId: getAccounts
      summary: Get the list of accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountsResponse"
  /api/v3/brokerage/accounts/{accountId}:
    get:
      operationId: getAccount
      summary: Get a account
      parameters:
        - in: path
          name: accountId
          schema:
            type: string
          required: true
          description: The id of the account.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountResponse"
  /api/v3/brokerage/orders:
    post:
      operationId: createOrder
      summary: Create a new market or limit order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createOrderRequest"
      responses:
        "200":
          description: OK
  /api/v3/brokerage/orders/batch_cancel:
    post:
      operationId: batchCancelOrders
      summary: Batch cancel orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/batchCancelOrderRequest"
      responses:
        "200":
          description: OK
  /api/v3/brokerage/orders/historical/batch:
    get:
      operationId: listOrders
      summary: List orders
      parameters:
        - in: query
          name: product_id
          schema:
            type: integer
        - in: query
          name: order_status
          schema:
            type: array
            items:
              type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: start_date
          schema:
            type: string
        - in: query
          name: end_date
          schema:
            type: string
        - in: query
          name: order_type
          schema:
            type: string
        - in: query
          name: order_side
          schema:
            type: string
        - in: query
          name: product_type
          schema:
            type: string
        - in: query
          name: order_placement_source
          schema:
            type: string
        - in: query
          name: contract_expiry_type
          schema:
            type: string
        - in: query
          name: asset_filters
          schema:
            type: array
            items:
              type: string
        - in: query
          name: retail_portfolio_id
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getOrdersResponse"
  /orders/{orderId}:
    delete:
      operationId: cancelOrder
      summary: Cancel an open order
      parameters:
        - in: path
          name: orderId
          schema:
            type: string
          required: true
          description: The id of the order.
      responses:
        "200":
          description: OK
  /api/v3/brokerage/products/{productId}:
    get:
      operationId: getProduct
      summary: Gets the product for an id
      parameters:
        - in: path
          name: productId
          schema:
            type: string
          required: true
          description: The id of the order.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProductResponse"
  /api/v3/brokerage/products:
    get:
      operationId: getProducts
      summary: Gets products
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProductsResponse"
  /api/v3/brokerage/orders/historical/fills:
    get:
      operationId: getFills
      summary: Get a list of fills filtered by optional query parameters (product_id, order_id, etc).
      parameters:
        - in: query
          name: order_id
          schema:
            type: string
        - in: query
          name: product_id
          schema:
            type: string
        - in: query
          name: start_sequence_timestamp
          schema:
            type: string
        - in: query
          name: end_sequence_timestamp
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: cursor
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getFillsResponse"
components:
  schemas:
    getFillsResponse:
      type: object
      description: List of fills
      properties:
        fills:
          type: array
          items:
            type: object
            properties:
              entry_id:
                type: string
              trade_id:
                type: string
              order_id:
                type: string
              trade_time:
                type: string
              trade_type:
                type: string
              price:
                type: string
              size:
                type: string
              commission:
                type: string
              product_id:
                type: string
              sequence_timestamp:
                type: string
              liquidity_indicator:
                type: string
              size_in_quote:
                type: boolean
              user_id:
                type: string
              side:
                type: string
              cursor:
                type: string
    getAccountsResponse:
      type: object
      description: List of accounts
      properties:
        accounts:
          type: array
          items:
            type: object
            properties:
              active:
                type: boolean
              available_balance:
                type: object
                properties:
                  currency:
                    type: string
                  value:
                    type: string
              created_at:
                type: string
              currency:
                type: string
              default:
                type: boolean
              deleted_at:
                type: string
              hold:
                type: object
                properties:
                  currency:
                    type: string
                  value:
                    type: string
              name:
                type: string
              ready:
                type: boolean
              type:
                type: string
              updated_at:
                type: string
              uuid:
                type: string
    getAccountResponse:
      type: object
      description: Account
      properties:
        active:
          type: boolean
        available_balance:
          type: object
          properties:
            currency:
              type: string
            value:
              type: string
        created_at:
          type: string
        currency:
          type: string
        default:
          type: boolean
        deleted_at:
          type: string
        hold:
          type: object
          properties:
            currency:
              type: string
            value:
              type: string
        name:
          type: string
        ready:
          type: boolean
        type:
          type: string
        updated_at:
          type: string
        uuid:
          type: string
    getProductResponse:
      type: object
      description: Product
      properties:
        auction_mode:
          type: boolean
        base_currency_id:
          type: string
        base_display_symbol:
          type: string
        base_increment:
          type: string
        base_max_size:
          type: string
        base_min_size:
          type: string
        base_name:
          type: string
        cancel_only:
          type: string
        display_name:
          type: string
        fcm_trading_session_details:
          type: string
        is_disabled:
          type: boolean
        limit_only:
          type: boolean
        mid_market_price:
          type: string
        new:
          type: boolean
        post_only:
          type: boolean
        price:
          type: string
        price_increment:
          type: string
        price_percentage_change_24h:
          type: string
        product_id:
          type: string
        product_type:
          type: string
        quote_currency_id:
          type: string
        quote_display_symbol:
          type: string
        quote_increment:
          type: string
        quote_max_size:
          type: string
        quote_min_size:
          type: string
        quote_name:
          type: string
        status:
          type: string
        trading_disabled:
          type: boolean
        view_only:
          type: boolean
        volume_24h:
          type: string
        volume_percentage_change_24h:
          type: string
        watched:
          type: boolean
    getProductsResponse:
      type: object
      properties:
        num_products:
          type: integer
        products:
          type: array
          items:
            type: object
            properties:
              auction_mode:
                type: boolean
              base_currency_id:
                type: string
              base_display_symbol:
                type: string
              base_increment:
                type: string
              base_max_size:
                type: string
              base_min_size:
                type: string
              base_name:
                type: string
              cancel_only:
                type: string
              display_name:
                type: string
              fcm_trading_session_details:
                type: string
              is_disabled:
                type: boolean
              limit_only:
                type: boolean
              mid_market_price:
                type: string
              new:
                type: boolean
              post_only:
                type: boolean
              price:
                type: string
              price_increment:
                type: string
              price_percentage_change_24h:
                type: string
              product_id:
                type: string
              product_type:
                type: string
              quote_currency_id:
                type: string
              quote_display_symbol:
                type: string
              quote_increment:
                type: string
              quote_max_size:
                type: string
              quote_min_size:
                type: string
              quote_name:
                type: string
              status:
                type: string
              trading_disabled:
                type: boolean
              view_only:
                type: boolean
              volume_24h:
                type: string
              volume_percentage_change_24h:
                type: string
              watched:
                type: boolean
    createOrderRequest:
      type: object
      properties:
        client_order_id:
          type: string
          summary: create a random generated UUID
        product_id:
          type: string
        side:
          type: string
          summary: all caps BUY or SELL
        order_configuration:
          type: object
          properties:
            market_market_ioc:
              type: object
              properties:
                quote_size:
                  type: string
                base_size:
                  type: string
            limit_limit_gtc:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                post_only:
                  type: boolean
            limit_limit_gtd:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                end_time:
                  type: string
                post_only:
                  type: boolean
            stop_limit_stop_limit_gtc:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                stop_price:
                  type: string
                stop_direction:
                  type: string
            stop_limit_stop_limit_gtd:
              type: object
              properties:
                base_size:
                  type: string
                limit_price:
                  type: string
                stop_price:
                  type: string
                end_time:
                  type: string
                stop_direction:
                  type: string
        self_trade_prevention_id:
          type: string
        leverage:
          type: string
        margin_type:
          type: string
        retail_portfolio_id:
          type: string
        limitPrice:
          type: string
    getOrdersResponse:
      orders:
        type: array
        items:
          type: object
          properties:
            order_id:
              type: integer
            product_id:
              type: integer
    batchCancelOrderRequest:
      type: object
      properties:
        order_ids:
          type: array
          items:
            type: string

